ul.list-group {
    li.list-group-item {
        display: none !important;
    }

    div.list-item-wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
        
        div {
            margin-bottom: 0px !important;
            border-top: 0px !important;

            div.fc {
                padding-top: 0px;
            }
        }

        td.fc-time-area {
            border-top-width: 0px;
        }
    }

    div.list-item-wrapper:not(:first-child) {
        border-top-width: 0px;

        thead.fc-head {
            display: none !important;
        }        
    }
}